body{
	background-color: rgb(42, 36, 36);
	display: flex;
	gap: 1rem;
	align-items: center;
	font-family: font-primary;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
}
.speech-container{
	height: auto;
	width: 100%;
	padding: 2rem;
	color: #808080;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	max-width: 45%;
	background-color: rgba(27, 155, 214, 0.251);
	border-radius: 20px;
}
h2{
	text-transform: uppercase;
	text-shadow: 2px 2px cyan,
	-2px -2px #ed85ce;
	font-size : calc(1rem + 50%);
}

input{
	width: 80%;
	height: 1rem;
	border: none;
	border-bottom : 1px solid limegreen;
	outline: none;
	padding: .6rem;
	background: transparent;
	font-family: helvetica,sans-serif;
	text-align: center;
}
.icon{
	font-size: 40px;
	border-radius: 50%;
	transition: .5s;
	padding: .6rem;

}
.icon:hover{
	background: #808080;
	color: #e7ffd9;

}
.icon:active,
.icon:focus{
	transform: scale(.8);
}
label{
	display: flex;
	max-width: 80%;
}
@font-face {
	font-family: font-primary;
	src: url(./KdamThmorPro-Regular.ttf);
}
.chat{
	background-color: rgba(27, 155, 214, 0.214);
	padding: 2rem;
	border-radius: 20px;
	width: 40%;
}
.message{
	background: white;
	padding: .5rem 1.3rem;
	font-size: 15px;
	border-radius: 25px;
	color: #5e5e5e;
	width: fit-content;
	letter-spacing: 1px;
}
.message:nth-child(n+2){
	margin-top: -30px;
}
.message:nth-child(even){
	background-color: #5ddfb6;
	position: relative;
	transform: translateX(-100%);
	left: 100%;
}
@media only screen and (max-width: 1095px) {
	.speech-container {
		max-width: 100%;
	}

	.chat {
		width: 100vw !important;
	}

}